<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.omart.CartMapper">    
    
    <select id="cartList" parameterType="_int" resultType="cartVo">
        SELECT c.*, p.*
        FROM cart c
        JOIN product p ON c.p_id = p.p_id
        WHERE c.m_idx = #{m_idx}
    </select>
    
    
    <select id="CartList_pInfo" parameterType="java.util.List" resultType="productVo">
	    SELECT * FROM product
	    WHERE p_id IN
	    <foreach item="item" collection="list" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</select>
	
	<update id="cartUpdate_Amount" parameterType="cartVo">
		UPDATE cart
		SET amount = #{amount}
		WHERE m_idx = #{m_idx} AND p_id = #{p_id}
	</update>
    
</mapper>