<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.omart.CartMapper">    
    
    <select id="cartList" parameterType="_int" resultType="cartVo">
        SELECT c.*, p.*
        FROM cart c
        JOIN product p ON c.p_id = p.p_id
        WHERE c.m_idx = #{m_idx}
    </select>
	
	<update id="cartUpdate_Amount" parameterType="cartVo">
		UPDATE cart
		SET amount = #{amount}
		WHERE m_idx = #{m_idx} AND p_id = #{p_id}
	</update>
	
	<select id="cartUpdate_List" parameterType="cartVo" resultType="cartVo">
		SELECT *
		FROM cart
		WHERE m_idx = #{m_idx} AND p_id = #{p_id}
	</select>
    
</mapper>