@charset "UTF-8";

/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}

/* 섹션 */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* a태그 공통 */
a{text-decoration: none; color: black;}
/* list 공통 */
ul{list-style: none;}

/* ---------------------마이페이지 헤더--------------------- */
#mp_header_area{
    display: flex;
    justify-content: space-between;

    width: 1280px;
    height: 280px;
    /* background-color: rgb(230, 230, 230); */

    margin: 40px 0;
}

/* 마이페이지 헤더 내부 요소 공통 */
.mp_header_obj{
    display: flex;
    flex-direction: column;

    width: 426px;
    height: 100%;
    background-color: rgb(250, 250, 250);

    padding: 30px 30px;
    box-sizing: border-box
}
/* 마이페이지 헤더 내부 요소 제목 공통(쿠폰, 포인트) */
.mp_header_obj_title{font-size: 23px;}

/* 마이페이지 헤더 유저 이름 */
#mp_header_user_name{font-size: 35px; font-weight: bold;}
/* 마이페이지 헤더 유저 메뉴 */
#mp_header_user_menu ul{
    font-size: 16px;
    margin-top: 40px;
}
#mp_header_user_menu li{margin: 10px 0;}
#mp_header_user_menu a{color: #222;}

/* 마이페이지 헤더 쿠폰 공통 */
#mp_header_coupon{color: #222;}
/* 마이페이지 헤더 소지 쿠폰 영역 */
#mp_header_coupon_num{margin-top: 15px;}
/* 소지 쿠폰 숫자 */
#mp_header_coupon_num span{
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}
/* 마이페이지 헤더 쿠폰 정보 영역 */
#mp_header_coupon_info{margin-top: 50px;}
.mp_coupon{
    display: flex;
    justify-content: space-between;

    margin: 5px 0;

    font-size: 16px;
    color: #444;
}
/* 마이페이지 헤더 포인트 영역 공통 */
#mp_header_point{color: #222;}
/* 마이페이지 헤더 소지 포인트 */
#mp_header_point_num{margin-top: 15px; font-size: 20px;}

/* ---------------------마이페이지 내용--------------------- */
#mp_main_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1280px;
    /* background-color: plum; */
}

/* ---------------------마이페이지 내용 좌측 메뉴영역--------------------- */
#mp_main_menu{
    display: flex;
    flex-direction: column;

    width: 150px;
    height: 260px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;

    padding: 20px 20px;
}
/* 메뉴 각 범주 사이 구분선 */
#mp_main_menu_division{
    margin: 30px auto;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #e5e5e5;
}
/* 메뉴 각 범주 타이틀 공통 */
.mp_main_menu_title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* 메뉴 li 공통 */
.mp_main_menu_list li{
    margin-top: 3px;
}
/* 메뉴 a태그 공통 */
.mp_main_menu_list a{
    color: #777;
}

/* ---------------------마이페이지 메인영역--------------------- */
#mp_main{
    width: 1000px;
    padding-right: 30px;
    /* background-color: aquamarine; */
}
.mp_main_obj{
    margin-bottom: 50px;
}     
.mp_main_title{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #222;
}

/* ---------------------주문상세 조회 헤더--------------------- */
/* 주문상세 조회 헤더 */
#mp_main_od_header{
    display: flex;
    justify-content: space-between;

    width: 100%;
    color: #222;
    margin-top: 20px;

    /* border-bottom: 1px solid #e5e5e5; */
}
#mp_main_od_header *{
    vertical-align: bottom;
}
/* 구매날짜 */
#od_header_date{
    font-size: 24px;
    font-weight: bold;
}
/* 주문번호 */
#od_header_ordernum{
    margin-left: 10px;
    font-size: 17px;
    
}
/* 주문내역 옵션 박스 */
#od_header_opt_box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
/* 주문내역 옵션 박스 (버튼) */
#od_header_opt_box button{
    color: #222;
    cursor: pointer;
}

/* ---------------------주문상세 조회 배송상태--------------------- */        
#mp_main_od_shipstate{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding-left: 35px;
    box-sizing: border-box;
}
#mp_main_od_shipstate ul{
    margin: 0 auto;
}
#mp_main_od_shipstate li{
    width: 24%;
    height: 40px;
    padding-top: 9px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #222;
    /* border-top: 1px solid rgb(90, 192, 7);
    border-bottom: 1px solid rgb(90, 192, 7); */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* background-color: rgb(130, 210, 65); */
    box-sizing: border-box;
}
#mp_main_od_shipstate li:first-child{
    border-radius: 20px 0 0 20px;
    border-left: 1px solid black;
}
#mp_main_od_shipstate li:last-child{
    border-radius: 0 20px 20px 0;
    border-right: 1px solid black;
}
#selected_state{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    padding-top: 0px !important;
}

#selected_state div{
/*     position: absolute; */
    width: 260px;
    height: 40px;
    overflow: visible;
    padding-top: 9px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px solid #222;
    border-radius: 20px;
    z-index: 100;
    /* border-top: 1px solid rgb(90, 192, 7);
    border-bottom: 1px solid rgb(90, 192, 7); */
    background-color: #222;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}
/* ---------------------주문상세 조회 내역 테이블 (주문정보)--------------------- */
/* 테이블 */
#mp_main_od_tb_info{
    margin-top: 20px;
    font-size: 13px;
}
/* 주문정보 테이블 th */
#mp_main_od_tb_info th{
    width: 100px;
    text-align: left;
}
/* 주문정보 테이블 td */
#mp_main_od_tb_info td{
    /* background-color: orange; */
    color: #777;
}
/* ---------------------주문상세 조회 내역 테이블 (주문상품)--------------------- */
/* 테이블 */
#mp_main_od_tb_product{
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
/* td (공통) */
#mp_main_od_tb_product td{
    height: 100px;
    box-sizing: border-box;
    border-collapse: collapse;
}
/* td (아래 테두리) */
#mp_main_od_tb_product tr td:nth-child(n+1):not(#mp_main_od_tb_product tr:last-child){
    border-bottom: 1px solid #eee;
}
/*** 썸네일 이미지 ***/
.td_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.td_img a{
    border: 1px solid black;
    width: 90px;
    height: 90px;
}
/*** 상품명 ***/
.td_pname{
    text-align: left;
    padding: 10px 15px;
}
.td_pname a{
    font-size: 14px;
    color: #555;
}
/*** 상품 가격,수량 ***/
.td_odinfo{
    text-align: left;
    padding: 10px 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    color: #222;
}
.td_odinfo_price{
    font-size: 24px;
}
.td_odinfo_price span{
    padding-left: 1px;
    font-size: 14px;
}
.td_odinfo_amount{
    font-size: 11px;
}
/*** 리뷰작성 버튼 ***/
.td_review{
    text-align: center;
}
.td_review a{
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    color: #222;
    text-align: center;
    line-height: 30px;
}